.next-steps {
  margin: 0;
}

.next-steps-logo-wrapper img {
  background-color: var(--lota-lime);
  height: 100%;
  display: block;
}

.next-steps-body-wrapper {
  background-color: var(--lota-green);
  color: white
}

.next-steps-body-wrapper article {
  background-color: var(--lota-lime);
  padding: 5dvw;
  padding-right: 10dvw;
  margin-left: 20dvw;
}
.next-steps-body-wrapper h1 {
  text-align: left;
}

.next-steps-body-wrapper p {
  opacity: 1;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: var(--bezier);
  animation-duration: 0.6s;
}

div.app-spacer > * {
  width: 100%;
  animation: none;
}

.next-steps-footer {
  background-color: var(--lota-tan);
  height: 50dvh;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: 20dvw;
  z-index: -1;
}