.lib-thing-widget a {
  all: unset;
}

div #wb8bb991bc300873716d1abf4e9e51c06 {
  /* outline: 3px solid chartreuse; */
  width: 60% !important;
  height: unset !important;
  overflow: clip;
  
}

.LT_content div {
  /* outline: orange 1px solid; */
  margin: 0.5rem;
  width: 25% !important;
}

.LT_coverdisplay {
  /* outline: 4px solid blue; */
  width: 100% !important;
}

.LT_coverdisplay div{
  /* outline: 2px orange solid; */
  aspect-ratio: 130 / 238 !important;
  width: 80% !important;
  height: unset !important;
}

.LT_coverdisplay img {
  /* outline: 2px solid green; */
  width: 100%;
  left: 0 !important;
  top: 0 !important;
}

div#wb8bb991bc300873716d1abf4e9e51c06preload {
  /* outline: 2px solid chartreuse; */
  margin-left: auto !important;
  margin-right: auto !important;
}


@media (max-width: 1550px) {
  .lib-thing-widget {
    display: none;
  }
}