.events-wrapper img {
  width: 100px;
  margin-left: 50dvw;
}

.events-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* outline: 3px green solid; */
}

/* Direct children of the outer events-text-wrapper subsection */
.events-text-wrapper > *{
  /* outline: 2px plum solid; */
  padding: 20px;
}

/* Descendants of the events-text-wrapper section that are p tags */
.events-text p {
  text-align: right;

}