.home-wrapper {
  display: flex;
  margin: 2dvh 0;
  justify-content: space-around;
  align-items: center;
}

.home-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-left h1 {
  font-size: clamp(4rem, 5dvh + .5rem, 6rem);
}

.home-left p {
  font-size: clamp(1rem, 1vw + 1rem, 2rem)
}

.home-wrapper a {
  text-decoration: none;
  font-size: larger;
  background-color: var(--lota_green);
  color: white;
  padding: 15px;
  border-radius: 20px;
}