.header-wrapper {
  background-color: var(--lota-green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  --header-height: 16dvh;
  height: var(--header-height);
  position: sticky;
  top: 0;
}

.header-wrapper > * {
  margin: 0 6rem;
}

.header-nav {
  display: flex;
  flex-direction: row;
}

.header-wrapper img {
  margin-left: 12.5%;
}

@media (max-width: 1550px) {
  .header-wrapper .header-nav {
    display: none;
  }
  
  .header-wrapper {
    justify-content: center;
  }
}