.header-wrapper {
  background-color: var(--lota-green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: fit-content;
  /* --header-height: 16dvh;
  height: var(--header-height); */
  position: sticky;
  top: 0;
  z-index: 99;
}

.header-wrapper > * {
  margin: 1rem 6rem;
}

.header-wrapper img {
  margin-left: 12.5%;
}

@media (max-width: 1550px) {
  .header-wrapper {
    flex-direction: column;
    justify-content: center;
    /* height: clamp(10rem, 25dvh + 1rem, 50rem); */
    max-width: 100dvw;
    position: initial;
  }
  
  .header-wrapper img {
    margin: 1rem 0;
  }

  .header-wrapper > * {
    margin: 1rem  0;
  }
}

/* @media (max-width: 400px) {
  .header-wrapper a {
    font-size: small;
  }
} */