.footer-wrapper {
  margin-top: auto;
  padding-left: 9rem;

  background-color: var(--lota-green);
  
  --footer-height: 10dvh;
  min-height: var(--footer-height);
  width: 100dvw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--lota-tan);
}


.contactlist-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contactlist-wrapper * {
  margin: 0 2rem;
  /* outline: 1px solid orange; */
  text-decoration: none;
  border-radius: 10px;
}

.contactlist-wrapper svg {
  /* filter: invert(51%) sepia(11%) saturate(2352%) hue-rotate(53deg) brightness(99%) contrast(84%); */
  filter: invert(87%) sepia(4%) saturate(1077%) hue-rotate(345deg) brightness(111%) contrast(94%);
  font-size: 4rem;
}

.contactlist-wrapper img {
  /* aspect-ratio: 1 / 1; */
  width: 5rem;
  background-color: var(--lota-tan);
}

.contactlist-wrapper p {
  color: var(--lota-green);
  background-color: var(--lota-tan);
  padding: 1rem;
}

.footer-wrapper .nav-sub-links {
  flex-direction: column-reverse;
  top: -2rem;
  bottom: 1.7rem;
  margin-bottom: 2rem;
}

@media (max-width: 950px) {
  .footer-wrapper {
    display: none;
  }
}
