.footer-wrapper {
  /* position: absolute;
  top: calc(100dvh - var(--footer-height)); */
  
  margin-top: auto;

  background-color: var(--lota-green);
  
  --footer-height: 10dvh;
  min-height: var(--footer-height);
  width: 100dvw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-wrapper .nav-sub-links {
  flex-direction: column-reverse;
  top: -2rem;
  bottom: 1.7rem;
  margin-bottom: 2rem;
}